
Benchmarks/.vs/
Benchmarks/bin/
Benchmarks/obj/
nuget_local_source/
RudolfKurka.StructPacker/.vs/
RudolfKurka.StructPacker/bin/
RudolfKurka.StructPacker/obj/
RudolfKurka.StructPackerTools/.vs/
RudolfKurka.StructPackerTools/bin/
RudolfKurka.StructPackerTools/obj/
Tests/bin/
Tests/obj/
Tests.sln.DotSettings.user
RudolfKurka.StructPacker/RudolfKurka.StructPacker.csproj.user
.vs/
AttachableDebugApp/AttachableDebugApp/obj/
AttachableDebugApp/AttachableDebugApp/bin/
